<%- include('partials/head') %> 

<h1 class="title">Form</h1>
<form action="/people" method="post">
    <input type="text" name="name" placeholder="First name">
    <input style="display: flex; margin-top: 1rem;" type="number" name="age" placeholder="Age">
    <button> Submit</button>
</form>

</body>

<html>