<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
       perferendis ratione voluptates. Enim minus modi fuga quae qui id iste! Obcaecati asperiores quod reiciendis qui non, quis earum repudiandae.</p>
</body>
</html>