<%- include('partials/head') %> 
<%- include('partials/navbar') %> 
    <h1>ALL people</h1>
    <ul>
        <% for(person of people){%> 
            <li>My name is: <%= person.name %> and I'm <%= person.age %> years old </li>
            <% }%> 
    </ul>
</body>
</html>